%ul.nav.nav-pills.flex-column.mb-auto.mt-4
  %li.nav-item
    = link_to "Histórico", ferramentaria_inventories_path, class:"nav-link text-white"
  %li.nav-item
    = link_to "Novo Inventário", new_ferramentaria_inventory_path, class:"nav-link text-white"