%ul.nav.nav-pills.flex-column.mb-auto.mt-4
  %li.nav-item
    = link_to "Histórico", ferramentaria_inventarios_path, class:"nav-link text-white"
  -# %li.nav-item
  -#   = link_to "Novo Inventario", professor_novo_inventario_path, class:"nav-link text-white"