%ul.nav.nav-pills.flex-column.mb-auto.mt-4
  %li.nav-item
    = link_to "Histórico", professor_inventories_path, class:"nav-link text-white"
  %li.nav-item
    = link_to "Novo Inventario", new_professor_inventory_path, class:"nav-link text-white"