/ Navbar
%nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    .content
      %button.btn.btn-light{
        type: "button",
        "data-bs-toggle" => "collapse",
        "data-bs-target" => "#sidebarCollapse",
        "aria-expanded" => "false",
        "aria-controls" => "sidebarCollapse"
      }= image_tag "button-collapse-dark.png", alt: "menu", style: "width: 24px; height: 24px;"
      %span.navbar-brand.h1.align-middle= "Olá #{current_user.name}"
