/ Sidebar responsivo
#sidebarCollapse.collapse.collapse-horizontal
  %nav.bg-dark.text-white.flex-shrink-0.p-3{ style: "width: 250px; min-height: 100%;" }
    %h4.text-center.mt-3 Gestpat v1.0
    %hr/
    - case current_user.role 
      - when current_user.role
        - path = "layouts/sidebar/#{current_user.role}"
        = render path
      - else
        = "Usuário não encontrado"